@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

button {
    background-color: $base;
    color: $white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.15s ease-in-out;

    &:hover {
        box-shadow: 1px -1px 10px -2px rgba(115,110,110,0.75);
        -webkit-box-shadow: 1px -1px 10px -2px rgba(115,110,110,0.75);
        -moz-box-shadow: 1px -1px 10px -2px rgba(115,110,110,0.75);
    }

    &:active {
        transform: scale(0.96);
    }

    &:disabled {
        background-color: $grey-light;
        pointer-events: none;
    }
}