<div class="file-manager-wrapper">
    <app-file-bread-crumb (crumbClicked)="getFolderData($event)" [breadCrumbs]="breadCrumbData"></app-file-bread-crumb>

    <div class="file-manager">
        <div class="loading-overlay" [class.open]="loading">
            <div class="spinner">
                <i class="fa-solid fa-circle-notch"></i>
            </div>
        </div>

        <div class="flex-apart actions">
            <div class="go-back">
                <button *ngIf="breadCrumbData.length > 1" class="empty-button" (click)="back()">
                    <i class="fa-solid fa-circle-arrow-left"></i> 
                    <span>Go back</span>
                </button>
            </div>

            <app-button type="secondary" (click)="newFolderModal.openModal()">New folder</app-button>
        </div>
        
        <section class="mt-1">
                <div *ngFor="let folder of folders; let index = index" class="folder" (click)="getFolderData(folder)">
                    <i class="fa-solid fa-folder"></i>
                    <span>{{ folder.folderName }}</span>
                </div>

                <div class="files-wrapper">
                    <div *ngFor="let file of files" class="file">
                        <img [src]="helper.generatePreviewUrl(file)">
                        <div>
                            <span>{{ file.name }}</span>
                            <small>{{ helper.humanFileSize(file.size) }}</small>
                        </div>
                    </div>
                </div>
        </section>

        <app-modal #newFolderModal (confirmButtonClicked)="addNewFolder()" title="Add new folder" subTitle="You can create a new folder in the current directory">
            <div class="new-folder">
                <app-input [control]="newFolderName">Name of new folder</app-input>
            </div>
        </app-modal>
    </div>
</div>