@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

.file-manager-wrapper {
    position: relative;
    margin-top: 3rem;

    app-file-bread-crumb {
        position: absolute;
        top: -1.7rem;
        left: 0.8rem;
    }
}

.file-manager {
    padding: 0.5rem;
    background-color: $grey-light;
    border-radius: 0.5rem;
    border: 1px solid $grey;
    position: relative;
    min-height: 10rem;

    .actions {
        .go-back {

            button {
                @include flexbox;
                @include align-items(center);
                gap: 0.5rem;
                @include transition(color 0.3s ease-in-out);
                cursor: pointer;

                svg {
                    color: $black;
                }

                &:hover {
                    color: $tooltip-color;
                }
            }
        }
    }

    .loading-overlay {
        @include flexcenter;
        background-color: $grey-light;
        opacity: 0.6;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0.5rem;

        .spinner {
            animation: load-spin 1s infinite ease-in-out;

            svg {
                font-size: 5rem;
                color: $base;
            }
        }

        &.open {
            visibility: visible;
            pointer-events: none;
        }
    }

    section {    
        .folder-wrapper {
            @include flexbox;
            @include flex-direction(column);
            row-gap: 1rem;
            margin-left: 0.7rem;
        
            .folder {
                @include flexbox;
                @include align-items(center);
                gap: 0.5rem;
                cursor: pointer;
        
                svg {
                    color: $folder-color;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.new-folder {
    min-height: 7rem;
}

@keyframes load-spin {
    from {transform: rotate(0);}
    to {transform: rotate(359deg);}
}