@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

.folder-wrapper {
    margin-top: 2rem;
}

.dropdown-item {
    @include transition(background-color 0.3s ease-in-out);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover {
        background-color: $grey-light;
    }
}