<div class="grey-background" [class.open]="open"></div>

<div class="modal" [class.open]="open">
    <div class="modal-header">
        <h3>{{ title }}</h3>
        <p>{{ subTitle }}</p>
        <button (click)="closeModal()" class="empty-button">
            <i class="fa-solid fa-xmark close-modal" (click)="closeModal()"></i>
        </button>
    </div>

    <app-modal-tabs *ngIf="tabs.length > 0" [tabs]="tabs" [activeTab]="activeTab"></app-modal-tabs>

    <div class="modal-content">
        <ng-content></ng-content>
    </div>

    <div class="modal-buttons">
        <app-button (click)="previousTab()" type="secondary" *ngIf="tabs.length > 0 && activeTab > 1">Previous</app-button>
        <app-button (click)="nextTab()" class="right" *ngIf="tabs.length > 0 && activeTab !== lastTab">Next</app-button>
        <app-button (click)="confirmButtonHandler()" class="far-right" *ngIf="tabs.length == 0 || activeTab == tabs.length">Confirm</app-button>
    </div>
</div>