<app-admin-page-wrapper>
    <div>
        <h1>My Sticker Groups</h1>
    
        <div class="page-action-bar">
            <app-pill>15 groups</app-pill>
            <app-search-bar placeholder="search for stickers / folders"></app-search-bar>
            <div class="far-right">
                <app-button (click)="groupCRUDModal.openModal()">Create new group</app-button>
            </div>
        </div>
    </div>

    <app-modal (tabChanged)="currentTab = $event" [tabs]="formTabs" [activeTab]="currentTab" #groupCRUDModal title="Create new sticker group" subTitle="sticker groups are used to play games like the “sticker” game and “slots” game.  Select 10 stickers to create a sticker group">
        <div class="navigator-wrapper" *ngIf="currentTab === 1">
            <app-sticker-navigator></app-sticker-navigator>
        </div>

        <div class="form" *ngIf="currentTab === 2">
            <app-input [control]="groupFormData.controls.name" name="name">Group name</app-input>
            <app-tags-input placeholder='use the "Enter" symbol to add new tag' [tags]="tags" tooltipText="Tags is used as a search indexer" name="tags">Tags</app-tags-input>
            <app-input name="public" [control]="groupFormData.controls.public" tooltipText="Let other teachers use this">Make group public</app-input>
        </div>
    </app-modal>

    <div class="groups">
        <div *ngFor="let group of groups" class="group">
            <app-sticker-group [stickerGroup]="group"></app-sticker-group>
        </div>
    </div>
</app-admin-page-wrapper>