@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";


.file-bread-crumbs {
    @include flexbox;
    @include align-items(center);
    gap: 0.5rem;
    
    .crumb {
        @include flexbox;
        @include align-items(center);
        gap: 0.5rem;
        
        span {
            font-size: 0.7rem;
        }

        &.last {
            font-weight: 700;
            pointer-events: none;
            

            span {
                font-size: 1rem;
            }

            svg {
                color: $tooltip-color;
            }
        }

        svg {
            color: $grey;
        }

        .step {
            color: $grey;
            margin: 0 0.5rem;
        }
    }
}