<div class="file-bread-crumbs" *ngIf="breadCrumbs.length > 1">
    <div class="crumb" [class.last]="isLast" *ngFor="let crumb of breadCrumbs; let isLast = last">
        <i (click)="gotoFolder(crumb)" class="fa-solid fa-house pointer" *ngIf="crumb.folderName === 'root'"></i>
        <i *ngIf="crumb.folderName !== 'root'" class="fa-solid fa-folder-open"></i>
        <span (click)="gotoFolder(crumb)" class="pointer" [class.last]="isLast">{{ crumb.folderName }}</span>
        <i *ngIf="!isLast" class="fa-solid fa-angle-right step"></i>
    </div>
</div>