@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

.folder {
    @include flexbox;
    @include align-items(center);
    margin-top: 1rem;

    svg {
        font-size: 2rem;
        color: $folder-color;
        margin-right: 1rem;
    }

    &.open {
        font-weight: 700;
    }
}