// simple
$white: white;
$grey: rgb(185, 185, 185);
$grey-light: rgb(247, 247, 247);
$grey-dark: rgb(90, 90, 90);
$black: #474747;

// color palette
$base: #A16AE8;
$secondary: #FD49A0;
$tertiary: #B4FEE7;

// something else
$folder-color: #ffb900;
$tooltip-color: #4ca3ff;