<div class="sticker-navigator">
    <ng-container *ngTemplateOutlet="recursiveList; context: {list: folders}"></ng-container>

    <ng-template #recursiveList let-list="list">
        <div *ngFor="let folder of list">
            <app-folder (click)="openFolder(folder.title)" [open]="folder.open">{{ folder.title }}</app-folder>
            <div style="margin-left: 15px" *ngIf="folder.open && folder.subFolders && folder.subFolders.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context: {list: folder.subFolders}"></ng-container>
            </div>
        </div>
    </ng-template>
</div>
