@import "src/scss/colors.scss";
@import "src/scss/mixins.scss";

.search-bar {
    @include flexbox;
    @include align-items(center);
    border: 1px solid $grey;
    border-radius: 0.5rem;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    i {
        color: $black;
    }

    input {
        border: none;
        outline: none;
        min-width: 15rem;
        font-size: 1rem;
    }
}